In [1]:
import pandas as pd

In [2]:
pib_dict={'État-Unis':18624.48,'Japon':4936.21,'Chine':11218.28,'Allemagne':3477.8,'Royaume-Uni':2647.9}

In [3]:
pib = pd.Series(pib_dict)

In [4]:
pibpop_dict={'État-Unis':57638,'Japon':38972,'Chine':8117,'Allemagne':42232,'Royaume-Uni':40412}
pibpop = pd.Series(pibpop_dict)

In [5]:
pib_pop = pd.DataFrame({'pib/habitant': pibpop, 'pib': pib})
pib_pop

             pib/habitant       pib
État-Unis           57638  18624.48
Japon               38972   4936.21
Chine                8117  11218.28
Allemagne           42232   3477.80
Royaume-Uni         40412   2647.90

In [6]:
pib_pop.columns

Index(['pib/habitant', 'pib'], dtype='object')

In [7]:
pib_pop.index

Index(['État-Unis', 'Japon', 'Chine', 'Allemagne', 'Royaume-Uni'], dtype='object')

In [8]:
pib_pop['pib/habitant']

État-Unis      57638
Japon          38972
Chine           8117
Allemagne      42232
Royaume-Uni    40412
Name: pib/habitant, dtype: int64

In [9]:
pd.DataFrame([{'alex': 12, 'ibrahim': 11, 'sara': 15}, {'alex': 14, 'ibrahim': 15}, {'alex': 15, 'sara': 16}],index=['Français', 'Mathématiques', 'Anglais'])

               alex  ibrahim  sara
Français         12     11.0  15.0
Mathématiques    14     15.0   NaN
Anglais          15      NaN  16.0

In [10]:
import numpy as np

In [11]:
pd.DataFrame(np.random.rand(2, 2),columns=['e1', 'e2'],index=['a', 'b'])

         e1        e2
a  0.584426  0.656220
b  0.321081  0.650964

In [12]:
ind = pd.Index(['Français', 'Mathématiques', 'Anglais'])

In [13]:
ind[2]

'Anglais'

In [14]:
ind[2::]

Index(['Anglais'], dtype='object')

In [15]:
print(ind.size,"&" ,ind.shape, "&" ,ind.ndim, "&" ,ind.dtype)

3 & (3,) & 1 & object

In [16]:
ind1 = pd.Index(['Français', 'Mathématiques', 'Anglais'])
ind2 = pd.Index(['Français', 'Sciences'])

In [17]:
ind1 & ind2

Index(['Français'], dtype='object')

In [18]:
ind1 | ind2

Index(['Anglais', 'Français', 'Mathématiques', 'Sciences'], dtype='object')

In [19]:
ind1 ^ ind2

Index(['Anglais', 'Mathématiques', 'Sciences'], dtype='object')