In [1]:
 import pandas as pd

In [2]:
ser = pd.Series([1, 3, 5, 7, 9], index=['a', 'b', 'c', 'd','e'])

In [3]:
ser

a    1
b    3
c    5
d    7
e    9
dtype: int64

In [4]:
ser['c']

5

In [5]:
'b' in ser

True

In [6]:
ser.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [7]:
list(ser.items())

[('a', 1), ('b', 3), ('c', 5), ('d', 7), ('e', 9)]

In [8]:
ser['e'] = 11
ser

a     1
b     3
c     5
d     7
e    11
dtype: int64

In [9]:
ser[(ser > 1) & (ser < 11)]

b    3
c    5
d    7
dtype: int64

In [10]:
ser[['a', 'e']]

a     1
e    11
dtype: int64

In [11]:
ser = pd.Series(['a', 'b', 'c', 'd','e'], index=[1, 3, 5, 7, 9])

In [12]:
ser[1]

'a'

In [13]:
ser.loc[1]

'a'

In [14]:
ser.iloc[1]

'b'

In [15]:
pib = pd.Series({'État-Unis':18624.48,'Japon':4936.21,'Chine':11218.28,'Allemagne':3477.8,'Royaume-Uni':2647.9})
pibpop = pd.Series({'État-Unis':57638,'Japon':38972,'Chine':8117,'Allemagne':42232,'Royaume-Uni':40412})
pib_pop = pd.DataFrame({'pib/habitant': pibpop, 'pib': pib})
pib_pop

             pib/habitant       pib
État-Unis           57638  18624.48
Japon               38972   4936.21
Chine                8117  11218.28
Allemagne           42232   3477.80
Royaume-Uni         40412   2647.90

In [16]:
pib_pop['pib']

État-Unis      18624.48
Japon           4936.21
Chine          11218.28
Allemagne       3477.80
Royaume-Uni     2647.90
Name: pib, dtype: float64

In [17]:
pib_pop['population'] = (pib_pop['pib']*100000000) / pib_pop['pib/habitant']

In [18]:
pib_pop

             pib/habitant       pib    population
État-Unis           57638  18624.48  3.231285e+07
Japon               38972   4936.21  1.266604e+07
Chine                8117  11218.28  1.382072e+08
Allemagne           42232   3477.80  8.234988e+06
Royaume-Uni         40412   2647.90  6.552262e+06

In [19]:
pib_pop.values

array([[5.76380000e+04, 1.86244800e+04, 3.23128492e+07],
       [3.89720000e+04, 4.93621000e+03, 1.26660423e+07],
       [8.11700000e+03, 1.12182800e+04, 1.38207219e+08],
       [4.22320000e+04, 3.47780000e+03, 8.23498769e+06],
       [4.04120000e+04, 2.64790000e+03, 6.55226170e+06]])

In [20]:
pib_pop.T

,État-Unis,Japon,Chine,Allemagne,Royaume-Uni
pib/habitant,5.763800e+04,3.897200e+04,8.117000e+03,4.223200e+04,4.041200e+04
pib,1.862448e+04,4.936210e+03,1.121828e+04,3.477800e+03,2.647900e+03
population,3.231285e+07,1.266604e+07,1.382072e+08,8.234988e+06,6.552262e+06

In [21]:
pib_pop.T.iloc[:2, :3]

              État-Unis     Japon     Chine
pib/habitant   57638.00  38972.00   8117.00
pib            18624.48   4936.21  11218.28

In [22]:
pib_pop.T.loc[:'pib/habitant', :'Chine']

              État-Unis    Japon   Chine
pib/habitant    57638.0  38972.0  8117.0

In [23]:
pib_pop[pib_pop['population'] > 100000000]

       pib/habitant       pib    population
Chine          8117  11218.28  1.382072e+08