In [1]:
import pandas as pd

In [2]:
ser = pd.Series([1,3,5,7,9],name='impaires')

In [3]:
ser

0    1
1    3
2    5
3    7
4    9
Name: impaires, dtype: int64

In [4]:
ser.values

array([1, 3, 5, 7, 9], dtype=int64)

In [5]:
ser.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
ser[2]

5

In [7]:
ser[0:3]

0    1
1    3
2    5
Name: impaires, dtype: int64

In [8]:
ser = pd.Series([1, 3, 5, 7, 9], index=['a', 'b', 'c', 'd','e'])

In [9]:
ser

a    1
b    3
c    5
d    7
e    9
dtype: int64

In [10]:
pib_dict={'État-Unis':18624.48,'Japon':4936.21,'Chine':11218.28,'Allemagne':3477.8,'Royaume-Uni':2647.9}

In [11]:
pib = pd.Series(pib_dict)
pib

État-Unis      18624.48
Japon           4936.21
Chine          11218.28
Allemagne       3477.80
Royaume-Uni     2647.90
dtype: float64

In [12]:
pib['Japon']

4936.21

In [13]:
pib['État-Unis':'Chine']

État-Unis    18624.48
Japon         4936.21
Chine        11218.28
dtype: float64

In [14]:
pib[1:3]

Japon     4936.21
Chine    11218.28
dtype: float64